<link rel="stylesheet" type="text/css" href="/css/index.css">

<div class="jumbotron">

  <h1 class="titulo"><strong>Bem Vindo</strong></h1>
  <p class="Sub-titulo">Densenvolvendo com nodejs.</p>
  <hr class="my-4" />
  <div id="carouselExampleSlidesOnly" class="carousel slide divCarousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p class="d-block w-100">Aplicação tem o objetivo de mostrar funcionamento do backend.</p>
      </div>
      <div class="carousel-item">
        <p class="d-block w-100">Sistema utilizando: Js, nodejs, mongo, express, autenticação, handlebars e Bootstrap.
        </p>
      </div>
      <div class="carousel-item">
        <p class="d-block w-100">obs: o usuario criado, não poderá criar, editar ou deletar postagem.<br />Fica a cargo do
          administrador.</p>
      </div>
    </div>
  </div>

  {{#if user}}
  {{else}}
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">Crie uma conta</a>
  {{/if}}

</div>

<h2>Postagens recentes:</h2>
<br />
{{#each postagens}}
<div class="card">
  <div class="card-body">
    <h3 class="title-card">{{titulo}}</h3>

    <p class="desc-card">{{descricao}}</p>
    <hr class="hr-card">
    <small>Categoria: {{categoria.nome}}</small><br>
    <small>Data de criação: {{formatDate data}}</small><br>
    <br />
    <a href="/postagem/{{slug}}"><button type="submit" class="btn btn-success btn-ler">Leia mais</button></a>

  </div>
</div>
{{else}}
<h5>Nenhuma postagem registrada</h5>

{{/each}}